### Statistical Learning for Data Science 2 (229352) 
#### Instructor: Donlapark Ponnoprat

#### [Course website](https://donlapark.pages.dev/229352/)

## Lab #2

# Iteration

ตัวอย่างของ iteration ที่เห็นได้บ่อยที่สุดคือการใช้ `for` loop

In [3]:
#Range

myrange = range(1, 10, 2)

for i in myrange:
    print(i)

1
3
5
7
9

In [4]:
#List
mylist = [1, 3, 5, 7, 9]

for i in mylist:
    print(i)

1
3
5
7
9

## `enumerate`

สมมติว่าข้างล่างนี้คือตัวอย่างของการทำนาย time series ใน 10 วันข้างหน้า

In [5]:
forecast = [34, 62, 21, 87, 95, 21, 42, 17, 39, 23]

for i, value in enumerate(forecast):
    print(i, value)

0 34
1 62
2 21
3 87
4 95
5 21
6 42
7 17
8 39
9 23

สามารถใช้ `for` loop คู่กับ `enumerate` ในการดูว่าแต่ละค่านั้นคือค่าทำนายของวันที่เท่าไหร่

## Iterator

อีกวิธีหนึ่งในการสร้าง loop นอกจากการใช้ `range` หรือ `list` แล้ว เราสามารถสร้าง `iterator` โดยใช้ฟังก์ชัน `iter` ครอบ `list` ของสิ่งที่เราอยากจะให้วน loop ไปเรื่อย ๆ

In [12]:
#iter

current_number = iter([2, 4, 6, 8])

In [13]:
#next

next(current_number)

2

## ใช้ Iterator ใน for loop

In [15]:
# for loop

for i in current_number:
    print(i)

4
6
8

In [16]:
# another way

current_number = iter([2, 4, 6, 8])

for i in range(4):
    print(next(current_number))

2
4
6
8

## Convert Iterator to List

In [18]:
current_number = iter([2, 4, 6, 8])

list(current_number)

[2, 4, 6, 8]

## `zip`

บางครั้งเราต้องการวน loop ตาม items ในหลายๆ list พร้อมกัน ตัวอย่างเช่นชื่อ สัญชาติ และสาขาของนักวิจัย 12 ท่านข้างล่างนี้

In [20]:
names = [
    'Frances Arnold', 'George Smith', 'Gregory Winter',
    'Denis Mukwege', 'Nadia Murad'
]

nationalities = [
    'USA', 'USA', 'UK',
    'DRC', 'Iraq'
]

categories = [
    'Chemistry', 'Chemistry', 'Chemistry',
    'Peace', 'Peace'
]

In [21]:
#zip

scientists = zip(names, nationalities, categories)

In [22]:
print(scientists)

<zip object at 0x7f489b338940>

In [26]:
#next

next(scientists)

('Denis Mukwege', 'DRC', 'Peace')

In [28]:
#for loop

for name, nationality, category in zip(names, nationalities, categories):
    print(name, nationality, category)

Frances Arnold USA Chemistry
George Smith USA Chemistry
Gregory Winter UK Chemistry
Denis Mukwege DRC Peace
Nadia Murad Iraq Peace

## Convert to list

In [29]:
list(scientists)

[('Nadia Murad', 'Iraq', 'Peace')]

## Convert to Dict

In [30]:
items = ["pen", "paper", "pencil", "eraser"]
prices = [12, 1, 7, 9]

dict(zip(items, prices))

{'pen': 12, 'paper': 1, 'pencil': 7, 'eraser': 9}

## ใช้ `zip` กับ iterator

In [31]:
items = iter(["pen", "paper", "pencil", "eraser"])
prices = iter([12, 1, 7, 9])

for item, price in zip(items, prices):
    print(item, price)

pen 12
paper 1
pencil 7
eraser 9

# Errors and Exception handling

## SyntaxError

เกิดขึ้นในกรณีที่โค้ดมี format ที่ไม่ถูกต้องตามหลักการของ python หรือว่ามีโค้ดบางส่วนที่ขาดหายไป

In [32]:
my_list = [1,2,3

SyntaxError: incomplete input (2645629469.py, line 1)

In [33]:
for i in range(5)
    print(i)

SyntaxError: expected ':' (3964378094.py, line 1)

In [35]:
import numpy as np

my_list = [2, 65, 82, 13, 845, 84, 265, 97, 43]

variance = np.sum(np.array(my_list) - np.mean(my_list)**2/(len(my_list) - 1)

print(variance)

SyntaxError: '(' was never closed (2036724691.py, line 5)

## RuntimeError

เกิดขึ้นในกรณีที่โค้ดผ่านการเช็ค format ผ่าน แต่เกิดปัญหาขึ้นตอนรันโค้ด

### 1. TypeError

In [39]:
print(4 + "Kings")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### 2. IndexError

In [40]:
mylist = [1, 2, 3, 4]
print(mylist[4])

IndexError: list index out of range

In [41]:
import numpy as np

myarray = np.array([[1, 2], 
                    [3, 4]])
myarray[2,2]

IndexError: index 2 is out of bounds for axis 0 with size 2

### 3. KeyError

In [42]:
mydict = {'Will': 14, 'Lucas': 14, 'Dustin': 14}

mydict["Mike"]

KeyError: 'Mike'

### 4. NameError

In [43]:
import pandas as pd

X = pd.read_csv(sample_data/mnist_test.csv)

NameError: name 'sample_data' is not defined

### 5. IndentationError

In [44]:
for num in [1,2,3,4]:
    print num

IndentationError: expected an indented block after 'for' statement on line 1 (2676854282.py, line 2)

In [46]:
for num in [1,2,3,4]:
  for word in ['one', 'two', 'three']:
      print(num)

1
1
1
2
2
2
3
3
3
4
4
4

### 6. OverflowError

In [48]:
x = 10

print(x**309)

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

วิธีการหาและแก้ bug ใน python

1. หา line ที่มี error 

  ใส่ `print` ลงไปในที่ต่างๆ ของโค้ดเพื่อหาจุดผิด

2. ถ้าไม่เคยเห็น error ชนิดนั้นมาก่อน หรือไม่รู้วิธีแก้ไข ลองนำ error กับชื่อ package ที่ใช้ไปค้นหาใน google ว่าเคยมีคนที่เคยเจอปัญหาเหมือนกันหรือไม่

In [49]:
import numpy as np

num = (1,2,3,4,5,6,7)

np.mean(num)

4.0

## Exercise 1: ใช้ `zip` เพื่อสร้าง List ที่มี tuple ของ movie ID และ movie name เรื่องต่างๆ

In [ ]:
lst1 = ["Toy Story", "Transformers", "Star Wars", "Titanic"]
lst2 = [1, 45366, 2451, 132]

movie_id_name = #TODO: your code here

print(movie_id_name)

## Exercise 2: แก้ error ในโค้ดข้างล่างนี้

1.

In [ ]:
authrs = {
    "Charles Dickens": "1870",
    "William Thackeray": "1863",
    "Anthony Trollope": "1882",
    "Gerard Manley Hopkins": "1889"

for author date in authors.items{}:
    print(f"{author} died in {date}")
}

2.

In [ ]:
year == int.input("What year were you born? '))

if year <= 1996
    print("You are a Millennial!")
elif year > 1996 && year < 2012:
    print("You are a Zoomer!")
elif:
    print("You are an Alpha!")

3.

In [ ]:
class Person:
  def init(self, first_name, last_name):
    self.first = first_name
    self.last = last_nme
  def speak(self):
  print("My name is + " self.first + " " + self.last)

me = Person("Timothee", "Chalamet")
you = Person("Jennifer", "Lawrence")

me.speak
you.speak

4. ฟังก์ชัน `minimum` มี input เป็น `list` ใช้ในการหาสมาชิกที่ต่ำที่สุดใน `list` นั้น แต่พอลองทดสอบฟังก์ชันข้างล่างพบว่า output ไม่เป็นไปตามที่คาดหวังไว้ จงแก้ไขฟังก์ชันให้ถูกต้อง

In [ ]:
def minimum(some_list):
    a = 0
    for x in range(1, len(some_list)):
        if some_list[x] < a:
            a = some_list[x]
    return a

minimum([76,31,90,39,12])

5. แก้โค้ดข้างล่างต่อไปนี้ เพื่อแสดงผลอุณหภูมิในแต่ละเดือนตั้งแต่เดือนมกราคม (Jan) ถึงเดือนธันวาคม (Dec)

In [ ]:
months = iter(['Jun', 'Feb','Mar', 'Apr', 
          "May", "Jun", "Jul", "Aug",
          "Sep", "Oct", "Nov", "Dec"])
temps = iter([27, 28, 30, 31, 30, 30, 30, 30, 29, 29, 28, 26])

months_temps = (months, temps)

for i in range(12):
  month, temp = next(months_temps)
  print(f"Average temperature in {month} is {temp}C")

6. สมมติว่าเรามี array สองตัวคือ 

`x = [1, 2, 3]` และ `y = [[4, 5, 6], [7, 8, 9]]`

ต้องการนำ `x` และ `y` มาต่อกันให้ได้ array ที่มีขนาด 3x3 ดังนี้:

`[[1, 2, 3], [4, 5, 6], [7, 8, 9]]`

ด้วยการใช้ฟังก์ชัน `np.concatenate` ([reference](https://numpy.org/doc/stable/reference/generated/numpy.concatenate.html)) แต่ว่าลองรันโค้ดข้างล่างแล้วเกิด error ขึ้นมา

ลองทำการศึกษา reference ที่ให้ไว้ข้างบนและลองใช้ google เพื่อหาวิธีในการแก้ error ในโค้ดข้างล่างนี้

In [ ]:
import numpy as np

x = np.array([1, 2, 3])
y = np.array([[4, 5, 6],[7, 8, 9]])

np.concatenate((x,y), axis = 0)

อย่าลืม log out gmail หลังทำปฏิบัติการเสร็จสิ้น