### Statistical Learning for Data Science 2 (229352)
#### Instructor: Donlapark Ponnoprat

#### [Course website](https://donlapark.pages.dev/229352/)

## Lab #2

# Iteration

ตัวอย่างของ iteration ที่เห็นได้บ่อยที่สุดคือการใช้ `for` loop

In [ ]:
#Range

myrange = range(1, 10, 2)

for

In [ ]:
#List
mylist = [1, 3, 5, 7, 9]

for

## `enumerate`

สมมติว่าข้างล่างนี้คือตัวอย่างของการทำนาย time series ใน 0-9 วันข้างหน้า

In [ ]:
forecast = [34, 62, 21, 87, 95, 21, 42, 17, 39, 23]

for

## Iterator

อีกวิธีหนึ่งในการสร้าง loop นอกจากการใช้ `range` หรือ `list` แล้ว เราสามารถสร้าง `iterator` โดยใช้ฟังก์ชัน `iter` ครอบ `list` ของสิ่งที่เราอยากจะให้วน loop ไปเรื่อย ๆ

In [ ]:
#iter

current_number =

In [ ]:
#next

## ใช้ Iterator ใน for loop

In [ ]:
# for loop

current_number = iter([2, 4, 6, 8])

for

In [ ]:
# another way

current_number = iter([2, 4, 6, 8])

for

## Convert Iterator to List

In [ ]:
current_number = iter([2, 4, 6, 8])

## `zip`

บางครั้งเราต้องการวน loop ตาม items ในหลายๆ list พร้อมกัน ตัวอย่างเช่นชื่อ สัญชาติ และสาขาของนักวิจัย 12 ท่านข้างล่างนี้

In [ ]:
names = [
    'Frances Arnold', 'George Smith', 'Gregory Winter',
    'Denis Mukwege', 'Nadia Murad'
]

nationalities = [
    'USA', 'USA', 'UK',
    'DRC', 'Iraq'
]

categories = [
    'Chemistry', 'Chemistry', 'Chemistry',
    'Peace', 'Peace'
]

In [ ]:
#zip

scientists =

In [ ]:
#print

The output of each `next` call on a zip object is a **tuple**.

In [ ]:
#next

In [ ]:
#for loop

for

## Convert to list

## Convert to Dict

In [ ]:
items = ["pen", "paper", "pencil", "eraser"]
prices = [12, 1, 7, 9]

## ใช้ `zip` กับ iterator

In [ ]:
items = iter(["pen", "paper", "pencil", "eraser"])
prices = iter([12, 1, 7, 9])

for

# Errors and Exception handling

## SyntaxError

เกิดขึ้นในกรณีที่โค้ดมี format ที่ไม่ถูกต้องตามหลักการของ python หรือว่ามีโค้ดบางส่วนที่ขาดหายไป

In [ ]:
my_list = [1,2,3

In [ ]:
for i in range(5)
    print(i)

In [ ]:
import numpy as np

my_list = [2, 65, 82, 13, 845, 84, 265, 97, 43]

variance = np.sum(np.array(my_list) - np.mean(my_list)**2/(len(my_list) - 1)

print(variance)

## RuntimeError

เกิดขึ้นในกรณีที่โค้ดผ่านการเช็ค format ผ่าน แต่เกิดปัญหาขึ้นตอนรันโค้ด

### 1. TypeError

In [ ]:
print(4 + "Kings")

### 2. IndexError

In [ ]:
mylist = [1, 2, 3, 4]
print(mylist[4])

In [ ]:
import numpy as np

myarray = np.array([[1, 2],
                    [3, 4]])
myarray[2,2]

### 3. KeyError

In [ ]:
mydict = {'Will': 14, 'Lucas': 14, 'Dustin': 14}

mydict["Mike"]

### 4. NameError

In [ ]:
import pandas as pd

X = pd.read_csv(sample_data/mnist_test.csv)

### 5. IndentationError

In [ ]:
for num in [1,2,3,4]:
    print num

In [ ]:
for num in [1,2,3,4]:
  for word in ['one', 'two', 'three']:
      print(num)

### 6. OverflowError

In [ ]:
x = 10

print(x**309)

วิธีการหาและแก้ bug ใน python

1. หา line ที่มี error

  ใส่ `print` ลงไปในที่ต่างๆ ของโค้ดเพื่อหาจุดผิด

2. ถ้าไม่เคยเห็น error ชนิดนั้นมาก่อน หรือไม่รู้วิธีแก้ไข ลองนำ error กับชื่อ package ที่ใช้ไปค้นหาใน google ว่าเคยมีคนที่เคยเจอปัญหาเหมือนกันหรือไม่

In [ ]:
import numpy as np

num = (1,2,3,4,5,6,7)

np.mean(num)

## Exercise 1: ใช้ `zip` เพื่อสร้าง List ที่มี tuple ของ movie ID และ movie name เรื่องต่างๆ

In [ ]:
lst1 = ["Toy Story", "Transformers", "Star Wars", "Titanic"]
lst2 = [1, 45366, 2451, 132]

movie_id_name = #TODO: your code here

print(movie_id_name)

## Exercise 2: แก้ error ในโค้ดข้างล่างนี้

1.

In [ ]:
authrs = {
    "Charles Dickens": "1870",
    "William Thackeray": "1863",
    "Anthony Trollope": "1882",
    "Gerard Manley Hopkins": "1889"

for author date in authors.items{}:
    print(f"{author} died in {date}")
}

2.

In [ ]:
year == int.input("What year were you born? '))

if year <= 1996
    print("You are a Millennial!")
elif year > 1996 && year < 2012:
    print("You are a Zoomer!")
elif:
    print("You are an Alpha!")

3.

In [ ]:
class Person:
  def init(self, first_name, last_name):
    self.first = first_name
    self.last = last_nme
  def speak(self):
  print("My name is + " self.first + " " + self.last)

me = Person("Timothee", "Chalamet")
you = Person("Jennifer", "Lawrence")

me.speak
you.speak

4. ฟังก์ชัน `minimum` มี input เป็น `list` ใช้ในการหาสมาชิกที่ต่ำที่สุดใน `list` นั้น แต่พอลองทดสอบฟังก์ชันข้างล่างพบว่า output ไม่เป็นไปตามที่คาดหวังไว้ จงแก้ไขฟังก์ชันให้ถูกต้อง

In [ ]:
def minimum(some_list):
    a = 0
    for x in range(1, len(some_list)):
        if some_list[x] < a:
            a = some_list[x]
    return a

minimum([76,31,90,39,12])

5. แก้โค้ดข้างล่างต่อไปนี้ เพื่อแสดงผลอุณหภูมิในแต่ละเดือนตั้งแต่เดือนมกราคม (Jan) ถึงเดือนธันวาคม (Dec)

In [ ]:
months = iter(['Jun', 'Feb','Mar', 'Apr',
          "May", "Jun", "Jul", "Aug",
          "Sep", "Oct", "Nov", "Dec"])
temps = iter([27, 28, 30, 31, 30, 30, 30, 30, 29, 29, 28, 26])

months_temps = (months, temps)

for i in range(12):
  month, temp = next(months_temps)
  print(f"Average temperature in {month} is {temp}C")

6. สมมติว่าเรามี array สองตัวคือ

`x = [1, 2, 3]` และ `y = [[4, 5, 6], [7, 8, 9]]`

ต้องการนำ `x` และ `y` มาต่อกันให้ได้ array ที่มีขนาด 3x3 ดังนี้:

`[[1, 2, 3], [4, 5, 6], [7, 8, 9]]`

ด้วยการใช้ฟังก์ชัน `np.concatenate` ([reference](https://numpy.org/doc/stable/reference/generated/numpy.concatenate.html)) แต่ว่าลองรันโค้ดข้างล่างแล้วเกิด error ขึ้นมา

ลองทำการศึกษา reference ที่ให้ไว้ข้างบนและลองใช้ google เพื่อหาวิธีในการแก้ error ในโค้ดข้างล่างนี้

In [ ]:
import numpy as np

x = np.array([1, 2, 3])
y = np.array([[4, 5, 6],[7, 8, 9]])

np.concatenate((x,y), axis = 0)

อย่าลืม log out gmail หลังทำปฏิบัติการเสร็จสิ้น