### Statistical Learning for Data Science 2 (229352)
#### Instructor: Donlapark Ponnoprat

#### [Course website](https://donlapark.pages.dev/229352/)

## Lab #1

# Lists

In [ ]:
mylist = [1, 2, 3, 5]

## Adding two lists

In [ ]:
listone = [1, 2, 4]
listtwo = [2, 3, 4, 5]

listone + listtwo

## Scalar multiplications

In [ ]:
listone * 3

In [ ]:
[0] * 10

## `in` and `not in`

In [ ]:
mylist = [1, 3, 4, 5, 6, 7]

2 not in mylist

## List comprehensions

### Example: create a list of `[1,4,9...,10000]`

In [ ]:
[n ** 2 for n in range(1, 9)]

## List indexing

In [ ]:
mylist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

mylist[2]

mylist[:]
mylist[1:]
mylist[:-1]
mylist[2:-2]

mylist[::2]
mylist[1:9:2]
mylist[::-1]

## Changing a value

In [ ]:
mylist = [0, 1, 2, 3, 4, 5, 6]

mylist[2] = "Two"

mylist

## Number of elements

In [ ]:
mylist = [0,1,2,3,4,5,6]

len(mylist)

## Adding (appending) element

In [ ]:
a = [2,5]

a.append(2)

a

## Removing elements

In [ ]:
mylist = [1, 2, 3, 4, 5]

mylist.remove(5)

mylist

In [ ]:
del mylist[1]

mylist

# Tuples

In [ ]:
mytuple = (1, 3, 5, 6)

## Tuple indexing

In [ ]:
mytuple = (1, 2, 3, 4, 5, 6)

mytuple[2]

## `in` and `not in`

In [ ]:
mytuple = (1, 3, 4, 5, 6)

2 in mytuple

## Functions return multiple values as a tuples

In [ ]:
def func(a, b): #a and b are floats
    x = a + b
    y = a - b

    return x, y

In [ ]:
n, m = func(1, 3)

print(n, m)

# Dictionaries

สมมติว่าทางมหาวิทยาลัยวางแผนการเก็บข้อมูล **รหัสนักศึกษา** และ **ชื่อ-นามสกุล** ของนักศึกษา เราอาจจะลองเก็บข้อมูลให้อยู่ในรูปของ tuple:
```
student1 = (690100101 , "Peter Piper")
```
สามารถดึงรหัสของนักศึกษาโดยใช้ `student1[0]` และดึงชื่อด้วย `student1[1]`
```
student1[0]
out: 690100101
student1[1]
out: "Peter Piper"
```
แต่บางครั้งเราก็อยากจะดึงชื่อของนักศึกษาโดยใช้รหัสนักศึกษา ตัวอย่างเช่น
```
student1[690100101]
out: "Peter Piper"
```
เราสามารถทำได้โดยการเก็บข้อมูลไว้ใน **dictionary** แทน

In [ ]:
students = {101: "Peter Parker", 102: "Mary Jane"}

dictionary ประกอบไปด้วย 2 ส่วน: **key** (`101`, `102`) และ **value** (`"Peter Piper"`, `"Mary Jane"`) โดยที่การเรียก key ใน dictionary นั้น เปรียบเสมือนการไขกุญแจเพื่อเรียก value ที่มากับ key นั้น

In [ ]:
students[102]

## Adding/Modifying values of dict

In [ ]:
students[103] = "Jeehun"

students

In [ ]:
students[101] = "Peter Pan"

students

## Obtain the keys, values, and key+value pairs

In [ ]:
list(students.keys())
students.values()
students.items()

## Dictionary comprehension

In [ ]:
{n: n ** 2 for n in range(1, 11)}

## A dictionary is an implementation of a hash table
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Hash_table_3_1_1_0_1_0_0_SP.svg/800px-Hash_table_3_1_1_0_1_0_0_SP.svg.png" width="400" height="300" />

### * การหาค่าใน list ใช้เวลา `O(n)`
### * การหาค่าใน key ของ dictionary ใช้เวลา `O(1)`

#### Comparing searching in a list and a dict

In [ ]:
my_long_list = [i for i in range(10000)]

In [ ]:
my_long_dict = {i:i for i in range(10000)}

### Exercise: Working with a dictionary

Below is a list of movie ratings (imdb) from 20 viewers.

1. Write code to compute the average of the ratings.
2. Write code to find the most common category watched by these 20 viewers.

In [ ]:
# Dictionary of movies

movies = [
{
"name": "Usual Suspects", 
"imdb": 7.0,
"category": "Thriller"
},
{
"name": "Hitman",
"imdb": 6.3,
"category": "Action"
},
{
"name": "Dark Knight",
"imdb": 9.0,
"category": "Adventure"
},
{
"name": "The Help",
"imdb": 8.0,
"category": "Drama"
},
{
"name": "The Choice",
"imdb": 6.2,
"category": "Romance"
},
{
"name": "Colonia",
"imdb": 7.4,
"category": "Romance"
},
{
"name": "Love",
"imdb": 6.0,
"category": "Romance"
},
{
"name": "Bride Wars",
"imdb": 5.4,
"category": "Romance"
},
{
"name": "AlphaJet",
"imdb": 3.2,
"category": "War"
},
{
"name": "Ringing Crime",
"imdb": 4.0,
"category": "Crime"
},
{
"name": "Joking muck",
"imdb": 7.2,
"category": "Comedy"
},
{
"name": "What is the name",
"imdb": 9.2,
"category": "Suspense"
},
{
"name": "Detective",
"imdb": 7.0,
"category": "Suspense"
},
{
"name": "Exam",
"imdb": 4.2,
"category": "Thriller"
},
{
"name": "We Two",
"imdb": 7.2,
"category": "Romance"
}
]