# Lists

In [1]:
mylist = [1, 2, 3, 5]

## Adding two lists

In [2]:
listone = [1, 2, 4]
listtwo = [2, 3, 4, 5]

listone + listtwo

[1, 2, 4, 2, 3, 4, 5]

## Scalar multiplications

In [3]:
listone * 3

[1, 2, 4, 1, 2, 4, 1, 2, 4]

In [5]:
[0] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

## `in` and `not in`

In [7]:
mylist = [1, 3, 4, 5, 6, 7]

2 not in mylist

True

## List comprehensions 

### Example: create a list of `[1,4,9...,10000]`

In [9]:
[n ** 2 for n in range(1, 9)]

[1, 4, 9, 16, 25, 36, 49, 64]

## List indexing

In [17]:
mylist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

mylist[2]

mylist[:]
mylist[1:]
mylist[:-1]
mylist[2:-2]

mylist[::2]
mylist[1:9:2]
mylist[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Changing a value

In [18]:
mylist = [0, 1, 2, 3, 4, 5, 6]

mylist[2] = "Two"

mylist

[0, 1, 'Two', 3, 4, 5, 6]

## Number of elements

In [19]:
mylist = [0,1,2,3,4,5,6]

len(mylist)

7

## Adding (appending) element

In [20]:
a = [2,5]

a.append(2)

a

[2, 5, 2]

## Removing elements

In [21]:
mylist = [1, 2, 3, 4, 5]

mylist.remove(5)

mylist

[1, 2, 3, 4]

In [22]:
del mylist[1]

mylist

[1, 3, 4]

# Tuples

In [ ]:
mytuple = (1, 3, 5, 6)

## Tuple indexing

In [23]:
mytuple = (1, 2, 3, 4, 5, 6)

mytuple[2]

3

## `in` and `not in`

In [24]:
mytuple = (1, 3, 4, 5, 6)

2 in mytuple

False

## Functions return multiple values as a tuples

In [25]:
def func(a, b): #a and b are floats
    x = a + b
    y = a - b

    return x, y

In [26]:
n, m = func(1, 3)

print(n, m)

4 -2

# Dictionaries

สมมติว่าทางมหาวิทยาลัยวางแผนการเก็บข้อมูล **รหัสนักศึกษา** และ **ชื่อ-นามสกุล** ของนักศึกษา เราอาจจะลองเก็บข้อมูลให้อยู่ในรูปของ tuple: 
```
student1 = (690100101 , "Peter Piper")
```
สามารถดึงรหัสของนักศึกษาโดยใช้ `student1[0]` และดึงชื่อด้วย `student1[1]` 
```
student1[0]
out: 690100101
student1[1]
out: "Peter Piper"
```
แต่บางครั้งเราก็อยากจะดึงชื่อของนักศึกษาโดยใช้รหัสนักศึกษา ตัวอย่างเช่น 
```
student1[690100101]
out: "Peter Piper"
```
เราสามารถทำได้โดยการเก็บข้อมูลไว้ใน **dictionary** แทน

In [27]:
students = {101: "Peter Parker", 102: "Mary Jane"}

dictionary ประกอบไปด้วย 2 ส่วน: **key** (`101`, `102`) และ **value** (`"Peter Piper"`, `"Mary Jane"`) โดยที่การเรียก key ใน dictionary นั้น เปรียบเสมือนการไขกุญแจเพื่อเรียก value ที่มากับ key นั้น

In [29]:
students[102]

'Mary Jane'

## Adding/Modifying values of dict

In [30]:
students[103] = "Jeehun"

students

{101: 'Peter Parker', 102: 'Mary Jane', 103: 'Jeehun'}

In [31]:
students[101] = "Peter Pan"

students

{101: 'Peter Pan', 102: 'Mary Jane', 103: 'Jeehun'}

## Obtain the keys, values, and key+value pairs

In [35]:
list(students.keys())
students.values()
students.items()

dict_items([(101, 'Peter Pan'), (102, 'Mary Jane'), (103, 'Jeehun')])

## Dictionary comprehension

In [36]:
{n: n ** 2 for n in range(1, 11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

## A dictionary is an implementation of a hash table 
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Hash_table_3_1_1_0_1_0_0_SP.svg/800px-Hash_table_3_1_1_0_1_0_0_SP.svg.png" width="400" height="300" />

### * การหาค่าใน list ใช้เวลา `O(n)` 
### * การหาค่าใน key ของ dictionary ใช้เวลา `O(1)`