### Statistical Learning for Data Science 2 (229352)
#### Instructor: Donlapark Ponnoprat

#### [Course website](https://donlapark.pages.dev/229352/)

## Lab #1

# Lists

In [2]:
mylist = [1, 2, 3, 5, "two"]

## Adding two lists

In [3]:
listone = [1, 2, 4]
listtwo = [2, 3, 4, 5]

listone + listtwo

[1, 2, 4, 2, 3, 4, 5]

## Scalar multiplications

In [4]:
listone * 3

[1, 2, 4, 1, 2, 4, 1, 2, 4]

In [5]:
[0] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

## `in` and `not in`

In [7]:
mylist = [1, 3, 4, 5, 6, 7]

2 not in mylist

True

## List comprehensions

### Example: create a list of `[1,4,9...,10000]`

In [8]:
[n/2 for n in range(1, 9)]

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0]

## List indexing

In [9]:
mylist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

mylist[2]

mylist[:]
mylist[1:]
mylist[:-1]
mylist[2:-2]

mylist[::2]
mylist[1:9:2]
mylist[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Changing a value

In [10]:
mylist = [0, 1, 2, 3, 4, 5, 6]

mylist[2] = "Two"

mylist

[0, 1, 'Two', 3, 4, 5, 6]

## Number of elements

In [11]:
mylist = [0,1,2,3,4,5,6]

len(mylist)

7

## Adding (appending) element

In [12]:
a = [2,5]

a.append(2)

a

[2, 5, 2]

## Removing elements

In [13]:
mylist = [1, 2, 3, 4, 5]

mylist.remove(5)

mylist

[1, 2, 3, 4]

In [14]:
del mylist[1]

mylist

[1, 3, 4]

# Tuples

In [ ]:
mytuple = (1, 3, 5, 6)

## Tuple indexing

In [15]:
mytuple = (1, 2, 3, 4, 5, 6)

mytuple[2]

3

## `in` and `not in`

In [ ]:
mytuple = (1, 3, 4, 5, 6)

2 in mytuple

## Functions return multiple values as a tuples

In [16]:
def func(a, b): #a and b are floats
    x = a + b
    y = a - b

    return x, y

In [17]:
a = func(1, 3)

print(a)

(4, -2)

In [18]:
a[1] = 5

TypeError: 'tuple' object does not support item assignment

# Dictionaries

สมมติว่าทางมหาวิทยาลัยวางแผนการเก็บข้อมูล **รหัสนักศึกษา** และ **ชื่อ-นามสกุล** ของนักศึกษา เราอาจจะลองเก็บข้อมูลให้อยู่ในรูปของ tuple:
```
student1 = (690100101 , "Peter Piper")
```
สามารถดึงรหัสของนักศึกษาโดยใช้ `student1[0]` และดึงชื่อด้วย `student1[1]`
```
student1[0]
out: 690100101
student1[1]
out: "Peter Piper"
```
แต่บางครั้งเราก็อยากจะดึงชื่อของนักศึกษาโดยใช้รหัสนักศึกษา ตัวอย่างเช่น
```
student1[690100101]
out: "Peter Piper"
```
เราสามารถทำได้โดยการเก็บข้อมูลไว้ใน **dictionary** แทน

In [20]:
students = {101: "Peter Parker",
            102: "Mary Jane",
            101: "John Doe"}

students

{101: 'John Doe', 102: 'Mary Jane'}

In [21]:
students[102]

'Mary Jane'

dictionary ประกอบไปด้วย 2 ส่วน: **key** (`101`, `102`) และ **value** (`"Peter Piper"`, `"Mary Jane"`) โดยที่การเรียก key ใน dictionary นั้น เปรียบเสมือนการไขกุญแจเพื่อเรียก value ที่มากับ key นั้น

In [ ]:
students[102]

## Adding/Modifying values of dict

In [22]:
students[103] = "Jeehun"

students

{101: 'John Doe', 102: 'Mary Jane', 103: 'Jeehun'}

In [23]:
students[101] = "Peter Pan"

students

{101: 'Peter Pan', 102: 'Mary Jane', 103: 'Jeehun'}

## Obtain the keys, values, and key+value pairs

In [27]:
list(students.keys())
#students.values()
list(students.items())

[(101, 'Peter Pan'), (102, 'Mary Jane'), (103, 'Jeehun')]

## Dictionary comprehension

In [28]:
{n: n ** 2 for n in range(1, 11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

## A dictionary is an implementation of a hash table
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Hash_table_3_1_1_0_1_0_0_SP.svg/800px-Hash_table_3_1_1_0_1_0_0_SP.svg.png" width="400" height="300" />

### * การหาค่าใน list ใช้เวลา `O(n)`
### * การหาค่าใน key ของ dictionary ใช้เวลา `O(1)`

#### Comparing searching in a list and a dict

In [29]:
my_long_list = [i for i in range(10000)]

counter = 0
for j in range(100000):
  if j in my_long_list:
    counter += 1

print(counter)

10000

In [32]:
my_long_dict = {i:i for i in range(10000)}

counter = 0
for j in range(100000):
  if j in my_long_dict.keys():
    counter += 1

print(counter)

10000

### Exercise: Working with a list of dictionaries

Below is a list of movie ratings (imdb) from 15 viewers.

1. Write code to compute the average of the ratings.
2. Write code to find the most common category watched by these 15 viewers.

In [33]:
# Dictionary of movies

movies = [
{
"name": "Usual Suspects",
"imdb": 7.0,
"category": "Thriller"
},
{
"name": "Hitman",
"imdb": 6.3,
"category": "Action"
},
{
"name": "Dark Knight",
"imdb": 9.0,
"category": "Adventure"
},
{
"name": "The Help",
"imdb": 8.0,
"category": "Drama"
},
{
"name": "The Choice",
"imdb": 6.2,
"category": "Romance"
},
{
"name": "Colonia",
"imdb": 7.4,
"category": "Romance"
},
{
"name": "Love",
"imdb": 6.0,
"category": "Romance"
},
{
"name": "Bride Wars",
"imdb": 5.4,
"category": "Romance"
},
{
"name": "AlphaJet",
"imdb": 3.2,
"category": "War"
},
{
"name": "Ringing Crime",
"imdb": 4.0,
"category": "Crime"
},
{
"name": "Joking muck",
"imdb": 7.2,
"category": "Comedy"
},
{
"name": "What is the name",
"imdb": 9.2,
"category": "Suspense"
},
{
"name": "Detective",
"imdb": 7.0,
"category": "Suspense"
},
{
"name": "Exam",
"imdb": 4.2,
"category": "Thriller"
},
{
"name": "We Two",
"imdb": 7.2,
"category": "Romance"
}
]